<div class="center hero-unit">
  <h1>Welcome to Chalkbag</h1>
  <h2>
    A platform for climbers to track their progress.
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>


